.Pdf {
  margin-top: 100px;
  overflow-x: auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90vw;
}

.resumePdf {
  width: 850px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.44);
}

.pdfNav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navBtns {
  width: 250px;
  display: flex;
  justify-content: space-between;
}

.download_container {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  row-gap: 100px;
}

.pageBtn {
  color: rgba(182, 182, 182, 0.694);
}

@media only screen and (max-width: 690px) {
  .resumePdf {
    display: none;
  }

  .pdfNav {
    display: none;
  }
}

@media only screen and (min-width: 691px) {
  .readmeIcon {
    display: none;
  }
}

.pageBtn:hover {
  letter-spacing: normal;
  color: rgba(182, 182, 182, 0.694);
  text-shadow: none;
  text-decoration: line-through;
}
