.project_detail {
  border-radius: 3px;
  max-height: 400px;
  overflow: hidden;
  margin: 30px 0;
}

.project_img_container {
  box-shadow: 0 0 5px 1px gray;
  background: linear-gradient(
    to bottom right,
    #f6f7d5af,
    #b293739b,
    #a442008c,
    #69140e9a,
    #3c15188d
      /* #184e77ab,
    #1a759fa6,
    #34a0a4a5,
    #76c893a7,
    #b5e48ca7,
    #d9ed92a9 */
  );
}

.project_img {
  border-radius: 3px;
  object-fit: contain;
  height: 70vw;
  position: relative;
  top: 20px;
  margin: 0 auto;
}

.project_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 20px;
}

.project_info > h2 {
  text-align: center;
  font-family: "Ibarra Real Nova";
}

.desc {
  color: rgb(95, 95, 95);
  list-style-type: none;
}

.desc::first-line {
  font-weight: bold;
  color: rgba(107, 25, 25, 0.772);
}

.btns_container {
  display: flex;
  justify-content: space-between;
  padding: 0 5vw;
}

@media only screen and (min-width: 750px) {
  .Project {
    display: flex;
    justify-content: space-between;
  }

  .project_detail {
    width: 47%;
  }

  .project_img {
    object-fit: cover;
    height: clamp(300px, 30vw, 450px);
  }

  .project_info > h2 {
    font-size: 48px;
  }

  .reverse {
    flex-direction: row-reverse;
  }
}
