.Statement {
  width: 90%;
  margin: 0 auto;
}

.Statement > p {
  max-width: 1200px;
  text-align: justify;
  margin: 0 auto 15px;
}

.marquee {
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: 10px;
  margin-bottom: 15px;
}

.skills_container {
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  min-width: 100%;
  gap: 1rem;
  animation: scroll 10s linear infinite;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 10px));
  }
}
