.Statement {
  width: 90%;
  /* max-width: 800px; */
  margin: 0 auto;
}

.Statement > p {
  text-align: justify;
  margin-bottom: 3vw;
}

.marquee {
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: 10px;
  margin-bottom: 3vw;
  border-radius: 15px;
}

.skills_container {
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  min-width: 100%;
  gap: 1rem;
  animation: scroll 15s linear infinite;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 10px));
  }
}
