.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pages_wrapper {
  max-width: 1400px;
  padding: 75px 25px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
