.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pages_wrapper {
  max-width: 1400px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 90vh;
}
