.Header {
  width: 100vw;
  position: fixed;
  background-color: white;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  z-index: 10;
}

header {
  max-width: 1150px;
  height: 75px;
  padding: 10px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.socials {
  display: flex;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  width: 25vw;
  max-width: 150px;
}

.social_img {
  transition: color 0.8s, font-size 0.3s;
}

@media (hover: hover) {
  .social_img:hover {
    color: #e76f51;
    font-size: 2.4rem;
  }
}

.desktop_nav {
  width: 40%;
  min-width: 275px;
  display: flex;
  justify-content: space-around;
}

@media only screen and (max-width: 549px) {
  .desktop_nav {
    display: none;
  }
}
