.Header {
  /* margin-left: 3px; */
  width: 101%;
  position: fixed;
  background-color: white;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  z-index: 10;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.527);
}

header {
  max-width: 1150px;
  height: 75px;
  padding: 10px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.socials {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  width: 25vw;
  max-width: 90px;
}

.social_img {
  transition: color 0.8s, font-size 0.3s;
  color: rgb(99, 98, 98);
}

@media (hover: hover) {
  .social_img:hover {
    color: #e76f51;
    font-size: 2.4rem;
  }
}

.desktop_nav {
  width: 30%;
  min-width: 275px;
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 549px) {
  .desktop_nav {
    display: none;
  }
}
