.Skill {
  width: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 15px;
}

.Skill > p {
  font-size: 0.9rem;
}

.image {
  height: 50px;
}

@media only screen and (min-width: 550px) {
  .Skill {
    height: 150px;
    width: 120px;
  }

  .image {
    height: 80px;
  }
}
