.Footer {
  margin-top: 75px;
  min-height: 100px;
  width: 100%;
  padding: 10px 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.353);
  background-color: #0a374299;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1050px;
}

.social_container {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  width: 40vw;
  max-width: 250px;
  flex-wrap: wrap;
}

.social_img {
  transition: color 0.8s, font-size 0.3s;
  color: rgb(63, 63, 63);
}

@media (hover: hover) {
  .social_img:hover {
    color: #fec89a;
    font-size: 2.4rem;
  }
}

.signature {
  height: 50px;
}

@media only screen and (max-width: 700px) {
  .signature {
    height: 5vw;
  }
}

.contact {
  display: flex;
  align-items: flex-end;
  column-gap: 5px;
}

.contact > a > img {
  height: 30px;
  filter: hue-rotate(250deg);
}

.contact a {
  color: white;
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .contact > a > img {
    height: 25px;
  }

  .contact a {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 500px) {
  .footer {
    flex-direction: column;
    row-gap: 15px;
  }
}
