.TitleCard {
  padding: 10px 15px;
  display: inline-block;
  position: relative;
  top: 100%;
  text-align: center;
}

.TitleCard > h1 {
  font-size: clamp(34px, 8vw, 65px);
}

.TitleCard > h2 {
  font-size: 1rem;
}

@media only screen and (min-width: 550px) {
  .TitleCard {
    text-align: left;
    padding: 10px 25px;
    margin-top: -100px;
  }

  .TitleCard > h1 {
    color: white;
    text-shadow: 1px 1px 3px black;
  }

  .TitleCard > h2 {
    font-size: 1.5rem;
    margin-left: 50px;
  }
}

@media only screen and (max-width: 330px) {
  .TitleCard > h1 {
    font-size: 1.5rem;
  }
}
